* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #981212;
}
.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    background: #921f6a;
    color: white;
}

.welcome-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-page p {
    font-size: 18px;
    margin-bottom: 30px;
}

#welcome-page button, #start-btn {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#welcome-page button:hover, #start-btn:hover {
    background: #45a049;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: auto;
}
.timer-container{
    display: flex;
    justify-content:end;
    margin: 15px 0;
}
.timer-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 360deg, #ddd 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s linear;
}
.timer-circle span {
    font-size: 28px;
    font-weight: bold;
    color: #222;
}
.timer-circle.warning {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
.timer-hidden {
  display: none;
}

#next-btn{
    background:#001e4d;
    color: #fff;
    font-weight: 500;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #85BB65;
}
.incorrect{
    background: #a43f3f;
}